img{
    display: inline-block;
}

#profile-pic {
    height: 75vh;
    text-align: center;
    margin: auto;
    
}

#resume{
    font-size: 12px;
    /* height: 75vh; */
}
.carousel-item {
    background-color: rgb(157, 157, 157);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.carousel-img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto; /* adjust height to fit your content */
}